h1 {
  margin: 0;
  color: #fdfdfd;
  font-size: 30px;
  font-weight: 400;
  text-align:center;
  margin-top: 50px;
}
.flex {
background: #fdfdfd;
display: flex;
flex-wrap:wrap;
min-height:550px;
justify-content: center;
align-items:center;
max-width:800px;
margin: 0 auto;
margin-top: 70px;
border-radius:5px;
}
.element-center {
display: flex;
flex-direction:column;
justify-content: center;
}
.element-center h1 {
color:#333;
margin-top: 10px;
font-size:24px;
}
.flex img {
width:100px;
margin: 0 auto;
}